/* @use "sass:math";
@import "variables";



//button styles
.landingPageBtn{
    border: none;
    color: $white;
    font-family: $montserrat;
    height: $buttonLandingHeight*1.5;
    width: $buttonLandingWidth*1.5;
    border-radius: $radiusDefaultStyle;
    font-size: $buttonFontSize;
    font-weight: $fontWeight600;
}


.buttons {
    display: flex;
    margin-left: 0.80vw;
    margin-top: 2vw;
}


.landingPageBtn:hover{
    cursor: pointer;
}

#visitBtn{
    background-color: $secondary;
}

#aboutBtn{
    background-color: $primary;
    margin-left: 1vw;
}

//responsive styles
@media only screen and (max-width: 768px) {
    .buttons{
        flex-direction: column;
        row-gap: 4vw;

    }
    .landingPageBtn{
        margin-top: 2vw;
        height: $buttonLandingHeight*4;
        width: $buttonLandingWidth*4;
        font-size: $buttonFontSize*4;
    }
    #aboutBtn{
        margin-left: 0vw;
    }
    .container {
        margin-left: 23vw;
        margin-top: 15vw;
        text-align: center;
    }
    #mainTitle{
        font-size: $landingFontSize;
    }
}

@media only screen and (max-width: 1260px) {
    svg{
        opacity: 0;
    }
} */